# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.exe

# IDE settings
.vscode/
.idea/

# Environment
venv/
test_env/
.env

# OS files
.DS_Store
Thumbs.db

# PyInstaller
*.spec

# te

# Git
.git/